* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a img {
   outline: none;
}

a {
   text-decoration: none;
}

input {
   box-shadow: none;
   outline: none;
}

button {
   border: 0;
   outline: none;
}

/* Arial is the default font family for text in form input elements 
*  and buttons. Also the font size is set by the browser.  
*/

input,
button,
input::placeholder {
   font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
   font-size: 16px;
}
