@use '../../styles/mixins' as m;

.cards-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
  column-gap: 3%;
  row-gap: 65px;
  margin-bottom: 42px;

  @include m.media-query-tablet {
    column-gap: 2%;
    row-gap: 49px;
  }
  @include m.media-query-mobile {
    display: flex;
    flex-direction: column;
  }
}
