@use '../../styles/mixins' as m;

.text-input {
   flex: 1;
   width: 100%;
   margin-left: 14px;
   border: 0;
   // Añade puntos suspensivos al texto "placeholder"
   overflow: hidden;
   text-overflow: ellipsis;
   background-color: transparent;

   @include m.media-query-mobile {
      margin-left: 0;
   }
}
